html, body {
    height: 100%;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
.footer {
  background-color: #eee;
  padding: 10px;
  
}

  main {
    flex-grow: 1;
  }

  /* .level {
    display: flex;
  } */

footer.footer {
  
}

footer.logo {
    width: 50px;
    height: auto;
    display: flex;
    align-items: center;
}
.level{
  
}
footer p {
    font-size: 15px;
}

footer .footer-contact {
    display: flex;
    margin-top: 40px;
}

footer .footer-contact .footer-icon {
    margin-right: 20px;
    width: 40px;
    height: 40px;
    background-color: orange;
    line-height: 40px;
    border: 1px solid orange;
    box-sizing: border-box;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

form.email {
  background-color: #eee;
}

footer .footer-contact .footer-icon svg {
    color: #fff;
    text-align: center;
    padding-left: 10px;
}

footer .footer-contact h6 {
    color: orange;
    font-size: 16px;
}

footer .footer-contact h4 {
    color: blue;
    font-size: 18px;
    margin-top: 10px;
}

img.footer-logo {
  transition: none;
}