/* html, body {
    height: 100%;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
.footer {
  background-color: #eee;
  padding: 10px;
  
}

  main {
    flex-grow: 1;
  }

footer.footer {
  
}

footer.logo {
    width: 50px;
    height: auto;
    display: flex;
    align-items: center;
}
.level{
  
}
footer p {
    font-size: 15px;
}

footer .footer-contact {
    display: flex;
    margin-top: 40px;
}

footer .footer-contact .footer-icon {
    margin-right: 20px;
    width: 40px;
    height: 40px;
    background-color: orange;
    line-height: 40px;
    border: 1px solid orange;
    box-sizing: border-box;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

form.email {
  background-color: #eee;
}

footer .footer-contact .footer-icon svg {
    color: #fff;
    text-align: center;
    padding-left: 10px;
}

footer .footer-contact h6 {
    color: orange;
    font-size: 16px;
}

footer .footer-contact h4 {
    color: blue;
    font-size: 18px;
    margin-top: 10px;
}

img.footer-logo {
  transition: none;
} */


section {
  color: #32325c;
}
.echo {
  background: url("../Dataset/forest.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  padding: 10rem 0;
}
footer{
    background-color: aliceblue;
}
.footer{
    padding-top: 5rem;
    padding-bottom: 10rem;
    color: white;
}
.footer ul{
    list-style: none;
}
.footer ul li{
    margin-top: 0.5rem;
}
.footer ul li a{
    text-decoration: none;
    color: white;
} 
.footer ul li a{
    text-decoration: none;
    color: white;
} 
.footer ul li a:hover{
    color:#41E096 ;
} 
.footer ul li a.active{
    color:#41E096 ;
} 